/* - - - - - - CSS Reset - - - - - - */

/* 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select, textarea{
	border: 0;
	
	font: inherit;
	
}


/* - - - - - - Generic styles - - - - - - */
body {
    font-family: Lucida Sans Unicode, Lucida Grande, Arial, Arial, Helvetica, 'Trebuchet MS', sans-serif;
    font-size: 80%;
}

/*
Numeric values are aligned right (except inside combo's).
*/
.dfData_BCD, .WebControl .dfData_BCD {
    text-align: right;
}
.WebCombo .dfData_BCD{
    text-align: left;
}


.WebApp_DragMask{
   position: fixed;
   z-index: 920;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   padding: 0px;
   margin: 0px;
   background-color: #FFFFFF;
   filter: alpha(opacity=0);
   opacity: .0;   
}


/* - - - - - - WebApp - - - - - - */
.WebApp{
    height: 100%;
}

.WebApp .WebApp_ViewRegion{
    
}

/* - - - - - - WebPanel - - - - - - */



/* - - - - - - WebView - - - - - -  */ 
.WebWindow.WebView{
    margin: 0px;
}

.WebView > div > label{
    display: block;
}


.WebView.WebWin_Hidden{
    display: none;
}
.WebView.WebWin_Visible{
    
}

/* - - - - - - WebContainer - - - - - - */
/*
A container hosts panels or other controls.
*/
.WebContainer {
    position: relative;
    overflow: auto;
    outline: none;
}
.WebContainer > form > .WebCon_Sizer, .WebContainer > .WebCon_Sizer{
    position: relative;
}

/* .WebContainer .WebCon_Sizer .WebCon_Main:after{
    content: '';
    clear: both;
}
 
.WebContainer > form > .WebCon_Main, .WebContainer > .WebCon_Main{
    position: relative; 
}*/

/* - - - - - - WebPanel - - - - - - */
.WebPanel > .WebPanel_DividerVertical{
    background-color: red;
    position: absolute;
    width: 2px;
    height: auto;
    top: 0px;
    bottom: 0px;
}

.WebPanel > .WebPanel_DividerHorizontal{
    background-color: red;
    position: absolute;
    width: auto;
    height: 2px;
    left: 0px;
    right: 0px;
}

.WebPanel.Web_Enabled > .WebPanel_DividerVertical{
    cursor: e-resize;
}
.WebPanel.Web_Enabled > .WebPanel_DividerHorizontal{
    cursor: n-resize;
}

.WebPanel_DividerVertical_Ghost, .WebPanel_DividerHorizontal_Ghost{
    
}
.WebPanel_DividerVertical_Ghost{
    position: absolute;
    height: auto;
    width: 0px;
    top: 0px;
    bottom: 0px;
    border-left: 1px dotted #000000;
}
.WebPanel_DividerHorizontal_Ghost{
    position: absolute;
    height: 0px;
    width: auto;
    left: 0px;
    right: 0px;
    border-top: 1px dotted #000000;
}


/* - - - - - - WebControl - - - - - - */
.WebControl{
    display: block;
}

/*
The label is displayed as block with a fixed width or height. It can be located on the left, right 
or at the top of the control. When a control has a label the inner div will get the WebCon_HasLabel
class and if left right or top is set explicitly it will also get WebCon_LeftLabel, 
WebCon_RightLabel or WebCon_TopLabel. If no position class is set the theme CSS determines where it 
is shown.
*/
.WebControl > div > label{
    width: 130px;
    display: block;
    -moz-user-select: none;
    float: left;
    white-space: pre-wrap;
}

.WebControl > div.WebCon_HasLabel > div{
}

.WebControl > div.WebCon_LeftLabel > div{
   margin: 0px 0px 0px 130px;
}

.WebControl > div.WebCon_RightLabel > label{
    float: left;
}

.WebControl > div.WebCon_RightLabel > div{
   margin: 0px 130px 0px 0px;
}

.WebControl > div.WebCon_RightLabel > label{
    float: right;
}

.WebControl > div.WebCon_TopLabel > div{
   margin: 0px;
}

.WebControl > div.WebCon_TopLabel > label{
   float: none;
   width: auto;
}
.WebControl > div.WebCon_Inner > div{
    display: block;
}


/* - - - - - - WebForm - - - - - - */
.WebForm input{
    width: 100%;
    /*Fix for IE: Cursor isn't shown with align right and no 0px padding right*/
    padding: 0px 2px 0px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Make sure color can be set of WebFrm_Wrapper */
    background-color: inherit;
}
.df-ie .WebForm input{
    /* Couldn't get inherit to work on IE */
    background-color: transparent;
}

.WebForm input:focus{
    outline: none;
}

.WebForm .WebFrm_Prompt{
    float: right;
    display: none;
    width: 16px;
    height: 16px;
}

.WebForm.Web_Enabled .WebFrm_Prompt{
    cursor: pointer;
}

.WebForm .WebFrm_HasPrompt .WebFrm_Prompt{
    display: inline-block;
}

.WebForm .WebFrm_HasPrompt .WebFrm_PromptSpacer{
    margin-right: 17px;
}

.WebForm.Web_Disabled input {
    
}
.WebForm.Web_Disabled > div > div {
    
}

/* - - - - - - WebButton - - - - - - */
.WebButton button{
    width: 100%;  
    white-space: pre-wrap;
}

.WebButton.Web_Disabled button{
    cursor: default;
}

/* - - - - - - WebLabel - - - - - - */
.WebLabel .WebLabel_border{
    border: 1px solid black;
}

.WebLabel .WebLabel_content{
    overflow: hidden;
    padding: 3px;
    white-space: pre-wrap;
   
}

.WebLabel .WebLabel_content b{
    font-weight: bold;
}   

/* - - - - - - WebCombo - - - - - - */
.WebCombo select{
    width: 100%;  
    background-color: inherit;
}
.df-ie .WebCombo select{
    /* Couldn't get inherit to work on IE */
    background-color: transparent;
}
.WebCombo select:focus{
    outline: none;
}
.WebCombo.Web_Disabled select {
    
}
.WebCombo.Web_Disabled > div > div {
    
}

/* - - - - - - WebRadio - - - - - - */
.WebRadio input{
    display: block;
    float: left;
    
    height: 14px;
}
.WebRadio .WebRadio_Caption{
    display: block;
    margin-left: 20px;
}

/* - - - - - - WebCheckbox - - - - - - */
.WebCheckbox input{
    display: block;
    float: left;
    
    height: 14px;
}
.WebCheckbox .WebCheckbox_Caption{
    display: block;
    margin-left: 20px;
}

/* - - - - - - WebEdit - - - - - - */
.WebEdit textarea{
    width: 100%;
    resize: none;
    outline: none;
    border: none;
}

.WebEdit textarea:focus{
    outline: none;
}


/* - - - - - - WebList & WebGrid - - - - - - */
/*
The grid & list share their basic styles.
*/

/* Body */
.WebList .WebList_BodyWrp, .WebGrid .WebList_BodyWrp{
 
}
.WebList .WebList_Body, .WebGrid .WebList_Body{

}

.WebList .WebList_TableWrp, .WebGrid .WebList_TableWrp{
   overflow: hidden;
   height: 100%;
   position: relative;
}

.WebList .WebList_Scroll, .WebGrid .WebList_Scroll{
    height: 100%;
    float: right;
    overflow-y: scroll;
    outline: none;
}

.WebList .WebList_BodyWrp:focus, .WebGrid .WebList_BodyWrp:focus{
    outline: none;
}

.WebList .WebList_TableWrp table, .WebGrid .WebList_TableWrp table{
    table-layout: fixed;
    width: 100%;
    position: absolute;
}

.WebList .WebList_TableWrp td, .WebGrid .WebList_TableWrp td{
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}
.WebList .WebList_TableWrp td, .WebGrid .WebList_TableWrp td.Web_Enabled{
    cursor: pointer;
}
.WebList .WebList_TableWrp td.Web_Disabled, .WebGrid .WebList_TableWrp td.Web_Disabled{

}

.WebList .WebList_TableWrp td.dfData_BCD , .WebGrid .WebList_TableWrp td.dfData_BCD {
    /*direction: rtl;
    TODO: Causes rendering issues on chrome
    */
}

/*
Alignment of column Values according to peAlign
*/
.WebList .WebList_TableWrp td.WebList_AlignLeft, .WebGrid .WebList_TableWrp td.WebList_AlignLeft{
    text-align: left;
}
.WebList .WebList_TableWrp td.WebList_AlignRight, .WebGrid .WebList_TableWrp td.WebList_AlignRight{
    text-align: right;
}
.WebList .WebList_TableWrp td.WebList_AlignCenter, .WebGrid .WebList_TableWrp td.WebList_AlignCenter{
    text-align: center;
}

/* Header */
.WebList .WebList_Head table, .WebGrid .WebList_Head table{
    table-layout: fixed;
    width: 100%;
}

.WebList th, .WebGrid th{
    text-align: left;  
}

.WebList th > div, .WebGrid th > div{
    
}

.WebList .WebList_Head .WebList_HeadWrp, .WebGrid .WebList_Head .WebList_HeadWrp{
	position: relative;
}

.WebList .WebList_Head .WebList_ColHead, .WebGrid .WebList_Head .WebList_ColHead{
   
}

.WebList .WebList_Head .WebList_ColCap, .WebGrid .WebList_Head .WebList_ColCap{
	overflow: hidden;
    white-space: nowrap;
}

/*
Alignment of column headers according to peAlign
*/
.WebList .WebList_Head th.WebList_AlignLeft, .WebGrid .WebList_Head th.WebList_AlignLeft div.WebList_ColCap{
    text-align: left;
}
.WebList .WebList_Head th.WebList_AlignRight, .WebGrid .WebList_Head th.WebList_AlignRight div.WebList_ColCap{
    text-align: right;
}
.WebList .WebList_Head th.WebList_AlignCenter, .WebGrid .WebList_Head th.WebList_AlignCenter div.WebList_ColCap{
    text-align: center;
}

.WebList .WebList_ColHead .WebList_ColSep, .WebGrid .WebList_ColHead .WebList_ColSep{
	position: absolute;
    margin-left: -2px;
    background-color: #FFFFFF;
	width: 1px;
    border-right: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
	height: 100%;
    filter: alpha(opacity=0);
    opacity: .0;
}
    
.WebList.Web_Enabled .WebList_ColResizable .WebList_ColHead .WebList_ColSep, .WebGrid.Web_Enabled .WebList_ColResizable .WebList_ColHead .WebList_ColSep{
	cursor: e-resize;
    
}

.WebList .WebList_ColResizer, .WebGrid .WebList_ColResizer{
	position: absolute;
	height: 100%;
	width: 1px;
    top: 0px;
	
    border-left: 1px dotted #000000;
    z-index: 999;
}

.WebGrid .WebList_Head .WebList_Sorted, .WebGrid .WebList_Head .WebList_SortedReverse{

}

.WebList .WebList_Head .WebList_Sorted, .WebList .WebList_Head .WebList_SortedReverse{
    
}

.WebList .WebList_Head .WebList_SortedReverse, .WebGrid .WebList_Head .WebList_SortedReverse{
    
}

.WebList.Web_Enabled .WebList_Head .WebList_Sortable, .WebGrid.Web_Enabled .WebList_Head .WebList_Sortable{
    cursor: pointer;
}

/* - - - - - - WebList - - - - - - */

/* - - - - - - WebGrid - - - - - - */

/* 
Reset the opacity for the edit cell because else it will be double shaded.
*/
.WebGrid .WebList_TableWrp td.Web_Disabled.WebGrid_EditCell{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/* - - - - - - WebColumn (Overrides WebForm) - - - - - - */

.WebList .WebColCombo,  .WebGrid .WebColCombo {
    text-align: left;
}

.WebGrid_EditCell .WebForm input{
}

.WebGrid td.WebCol.WebGrid_EditCell .WebControl > div.WebCon_Inner,
.WebGrid td.WebColCombo.WebGrid_EditCell .WebControl > div.WebCon_Inner{
    margin: 0px 0px 0px 0px; 
}

/*
FIX: Reset the border-collapse style so that the CSS3 shadow works in IE
*/
.WebGrid_EditCell .WebControl .WebFrm_Wrapper{
    border-collapse: separate;
}

.WebGrid .WebList_Body .WebList_Row td.WebCol.WebGrid_EditCell,
.WebGrid .WebList_Body .WebList_Row td.WebColCombo.WebGrid_EditCell{
    padding: 0px;
}


/* - - - - - - WebTabContainer - - - - - - */
.WebTabContainer .WebTbc_Head{

}

.WebTabContainer .WebTbc_Head .WebTab_Btn.WebTab_Enabled label{
    cursor: pointer;
}

.WebTabContainer .WebTbc_Head  .WebTab_Btn{
    float: left;
}
.WebTabContainer .WebTbc_Head  .WebTab_Btn:focus{
    outline: none;
}

.WebTabContainer .WebTab_Btn span{
    display: inline-block;
}

.WebTabContainer .WebTab_Btn span label{
    display: inline-block;
}
.WebTabContainer .WebTab_Current{
}

.WebTabContainer .WebTab_Current span{
}

.WebTabContainer .WebTab_Current span label{
}

.WebTabContainer .WebTbc_Body{
    

}

.WebTabContainer .WebTab_Disabled{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.WebTabPage{
    height: 100%;
}

/* - - - - - - WebCardContainer - - - - - - */

.WebCardContainer .WebTbc_BodyBorder{
    margin: 3px;
}
.WebCardContainer .WebTbc_BodyBorder.WebTbc_HasCaption{
    margin-top: -6px;
}

.WebCardContainer .WebCC_LabelSpacer{
    height: 17px;
}

.WebCardContainer > div > div > .WebCC_LabelSpacer > label{
    display: block;
    position: absolute;
    margin-left: 10px;
}

.WebCardContainer .WebCC_Head{
    display: none;
}

div.WebCardContainer > div.WebCon_Inner{
    margin: 0px;
}

div.WebCardContainer > div > div > .WebCC_BodyNoBorder  > .WebCard > .WebCon_Sizer > .WebCon_Content{
    padding: 0px;
}



.WebCard{
    height: 100%;
}


/* - - - - - - WebCommandBar - - - - - - */
.WebCommandBar{
    /* position: relative; */
}


/* - - - - - - WebMenuBar - - - - - - */
.WebMenuBar{

}

.WebMenuBar ul li{
    float: left;   
}


/*
Level 0
*/
.WebMenuBar > ul > li > div > span.WebItm_Icon{
    display: none;
}


/*
Level 1
*/
.WebMenuBar ul li ul{
    width: 220px;
    position: fixed;
    /*
    We set the z-index for sub menu's because of the transparency toolbar item issue and to make 
    them display above dialogs.
    */
    z-index: 100;
}
.WebMenuBar ul li ul li{
    width: 216px;
}

.WebMenuBar .WebMenuItem, .WebToolBar .WebMenuItem.Web_Enabled{
    cursor: pointer;
}

.WebMenuItem > div > span.WebItm_Icon{
    height: 16px;
    width: 16px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
}

.WebMenuItem > div > a, .WebMenuItem > div > a:focus{
    text-decoration: none;
    outline: none;
}

li.Web_Disabled > div {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
}

.WebMenuItem > div > a{
    cursor: inherit;
}

/*
Level 2
*/
.WebMenuBar ul li ul li ul{
    margin: -25px 0px 0px 216px;
}


/* - - - - - - WebToolBar - - - - - - */
.WebToolBar li{
    float: left;
}

.WebToolBar{
    display: inline-block;
}

.WebToolBar ul.WebTlb_HideCaption > li > div > a{
    display: none;
}


/* - - - - - - WebWindow - - - - - - */
.WebWindow{
    position: fixed;
    display: inline;
    -webkit-user-select: none;
    background-color: #000000;
}

.WebWindow.WebWin_Hidden{
    display: none;
}
.WebWindow.WebWin_Visible{
    
}

.WebWindow .WebWin_header{
    cursor: move;
    -moz-user-select: none;
    background-color: #CCCCCC;
}
.WebWindow .WebWin_header_l{
    padding-left: 1px;
}

.WebWindow .WebWin_header_r{
    padding-right: 1px;
}

.WebWindow .WebWin_header_c{
    height: 20px;
}

.WebWindow .WebWin_title{
    float: left;
    overflow: hidden;
}

.WebWindow .WebWin_controls{
    float: right;
}

.WebWindow .WebWin_controls .WebWin_close{
    float: right;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #CC0000;
    cursor: pointer;
}

.WebWindow .WebWin_controls .WebWin_close:focus{
    outline: none;
}

.WebWindow .WebWin_main_l{
    padding-left: 1px;
}
.WebWindow.WebWin_Resizable .WebWin_main_l{
    cursor: e-resize;
}

.WebWindow .WebWin_main_r{
    padding-right: 1px;
    
}

.WebWindow .WebWin_main_c{
    cursor: default;
    background-color: #FFFFFF;
}

.WebWindow .WebWin_bottom_l{
    height: 1px;
    padding-left: 1px;
}
.WebWindow.WebWin_Resizable .WebWin_bottom_l{
    cursor: ne-resize;
}

.WebWindow .WebWin_resizer{
    display: none;
    position: absolute;
    bottom:0px;
    right: 0px;
}
.WebWindow.WebWin_Resizable .WebWin_resizer{
    display: block;
}
.WebWindow .WebWin_bottom_r{
    height: 1px;
    padding-right: 1px;
}
.WebWindow.WebWin_Resizable .WebWin_bottom_r{
    cursor: nw-resize;   
}

.WebWindow .WebWin_bottom_c{
    height: 1px;
}
.WebWindow.WebWin_Resizable .WebWin_bottom_c{
    cursor: n-resize;
}

.WebWindow .WebWin_top_l{
    height: 1px;
    padding-left: 1px;
}
.WebWindow.WebWin_Resizable .WebWin_top_l{
    cursor: nw-resize;
}

.WebWindow .WebWin_top_r{
    height: 1px;
    padding-right: 1px;
}
.WebWindow.WebWin_Resizable .WebWin_top_r{    
    cursor: ne-resize;
}

.WebWindow .WebWin_top_c{
    height: 1px;
}
.WebWindow.WebWin_Resizable .WebWin_top_c{    
    cursor: n-resize;
}
.WebWin_ghost{
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 200;
}

.WebWindow_Mask{
   position: fixed;
   
   top: 0px;
   left: 10x;
   width: 100%;
   height: 100%;
   padding: 0px;
   margin: 0px;
   background-color: #FFFFFF;
   filter: alpha(opacity=20);
   opacity: .2;
}


/* - - - - - - - Date Picker - - - - - - - - */

.WebDP{
    display: inline-block;
}
.WebDP > .WebDP_Wrp{ /* this is needed for the 'change month' animation */
    position: relative;
}


/*
Header & Button
*/

.WebDP .WebDP_BtnPrev{
    float: left;
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.WebDP .WebDP_BtnNext{
    float: left;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.WebDP .WebDP_BtnMonth, .WebDP .WebDP_BtnYear{
    float: right;
    position: relative;
    cursor: pointer;
}

.WebDP .WebDP_MonthMnu, .WebDP .WebDP_YearMnu{
    display: none;
    position: absolute;
    cursor: pointer;
    float: none;
    top: 14px;
    left: 0px;
}

.WebDP .WebDP_MonthMnu li, .WebDP .WebDP_YearMnu li {
   float: none;
   display: block;
}

.WebDP .WebDP_Up{
   height: 10px;
}

.WebDP .WebDP_UpDown{
   height: 10px;
}

.WebDP .WebDP_Down{
   height: 10px;
}

.WebDP .WebDP_DownDown{
   height: 10px;
}

/*
Body
*/
.WebDP .WebDP_Body table{
    border-collapse: separate;
}

.WebDP .WebDP_Body .WebDP_Day{
   cursor: pointer;
}

/*
Ani
*/
.WebDP .WebDP_Body .WebDP_HidePrev{
    display: none;
}
.WebDP .WebDP_Body .WebDP_HideNext{
    display: none;
}

/*
Footer
*/
.WebDP .WebDP_BtnToday{
    display: inline-block;
    cursor: pointer;
}

/* - - - - - - WebDatePicker - - - - - - */

.WebDatePicker.Web_Disabled > div > div {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.WebDatePicker.Web_Disabled .WebDP .WebDP_Body .WebDP_Day:hover,
.WebDatePicker.Web_Disabled .WebDP .WebDP_BtnToday:hover{
    text-decoration: none;
    cursor: default;
}

.WebDatePicker .WebDatePicker_FocusHolder:focus{
    outline: none;
}

/* - - - - - - WebDateForm - - - - - - */

.WebDateForm_Mask{
   position: fixed;
   
   top: 0px;
   left: 10x;
   width: 100%;
   height: 100%;
   padding: 0px;
   margin: 0px;
   background-color: #FFFFFF;
   filter: alpha(opacity=20);
   opacity: .2;
}

.WebDateForm  .WebFrm_Wrapper{
    
}
.WebDateForm_Picker{
    position: fixed;
    visibility: hidden;
    
    background-color: #DDDDDD;
}
.WebDateForm_Picker.WebDF_WrapVisible{
    visibility: visible;
}

.WebDateForm .WebDateForm_FocusHolder:focus{
    outline: none;
}


/* - - - - - - WebTreeView - - - - - - - */
.WebTreeView.WebCon_Focus .WebTree_Body{
    
}

.WebTreeView .WebTree_Body{
    background-color: #FFFFFF;
    border: 1px solid #000000;
    overflow: auto;
}

.WebTreeView .WebTree_Body:focus{
    outline: none;
}

.WebTreeView .WebTree_Body table, .WebTreeView .WebTree_Body tr, .WebTreeView .WebTree_Body td {
    vertical-align: middle;
}

.WebTreeView .WebTree_Loading{
    
}

.WebTreeView .WebTree_Text{
    cursor: pointer;
    white-space: nowrap;
}

.WebTreeView .WebTree_Selected  .WebTree_Text{
    background-color: #CCCCCC;
}

.WebTreeView.WebCon_Focus .WebTree_Selected .WebTree_Text{
    
}

/*
    Expand / collapse animation
*/
.WebTreeView .WebTree_SubRow .WebTree_Item {
    height: 18px;
}

.WebTreeView .WebTree_SubRow {
    display: table-row;
    line-height: 0px;
}


.WebTreeView .WebTree_SubRow.WebTree_HiddenSubRow .WebTree_Expanded > td, .WebTreeView .WebTree_SubRow.WebTree_HiddenSubRow .WebTree_Collapsed > td{
    overflow: hidden;
}

.WebTreeView .WebTree_SubRow.WebTree_HiddenSubRow .WebTree_Item{
    height: 0px;
}

/*
    Tree lines & buttons
*/
.WebTreeView .WebTree_Item, .WebTreeView .WebTree_Con{
    width: 20px;
}

.WebTreeView .WebTree_Item{
}

.WebTreeView .WebTree_Item div{
    display: block;
    width: 20px;
}

.WebTreeView .WebTree_Expanded .WebTree_EntrySub{
    cursor: pointer;
}

.WebTreeView .WebTree_Collapsed  .WebTree_EntrySub{
    cursor: pointer;
}

.WebTreeView .WebTree_Expanded .WebTree_EndSub{
    cursor: pointer;
}

.WebTreeView .WebTree_Collapsed  .WebTree_EndSub{
    cursor: pointer;
}

.WebTreeView  .WebTree_Expanded .WebTree_StartSub{
    cursor: pointer;
}

.WebTreeView  .WebTree_Collapsed .WebTree_StartSub{
    cursor: pointer;
}

.WebTreeView .WebTree_Start{
}

.WebTreeView .WebTree_Entry{
}

.WebTreeView .WebTree_End{
}

.WebTreeView .WebTree_Con{
}

.WebTreeView  .WebTree_Expanded .WebTree_StartEndSub{
    cursor: pointer;
}

.WebTreeView  .WebTree_Collapsed .WebTree_StartEndSub{
    cursor: pointer;
}

.WebTreeView .WebTree_StartEnd{
}

.WebTreeView .WebTree_StartEnd{
}

/*
    Icons
*/
.WebTreeView .WebTree_Icon, .WebTreeView .WebTree_Folder{
}

.WebTreeView .WebTree_IconLoading{
}

.WebTreeView  .WebTree_Collapsed .WebTree_Folder{
}

.WebTreeView .WebTree_Expanded  .WebTree_Folder{
}

.WebTreeView .WebTree_Collapsed  .WebTree_Icon{
}

.WebTreeView .WebTree_Expanded  .WebTree_Icon{
}

/*
Disabled state
*/
.WebTreeView.Web_Disabled .WebTree_Text,
.WebTreeView.Web_Disabled .WebTree_Expanded .WebTree_EntrySub, .WebTreeView.Web_Disabled .WebTree_Collapsed  .WebTree_EntrySub, 
.WebTreeView.Web_Disabled .WebTree_Expanded .WebTree_EndSub, .WebTreeView.Web_Disabled .WebTree_Collapsed  .WebTree_EndSub, 
.WebTreeView.Web_Disabled .WebTree_Expanded .WebTree_StartSub, .WebTreeView.Web_Disabled  .WebTree_Collapsed .WebTree_StartSub,
.WebTreeView.Web_Disabled .WebTree_Expanded .WebTree_StartEndSub, .WebTreeView.Web_Disabled  .WebTree_Collapsed .WebTree_StartEndSub{
    cursor: default;
}


.WebTreeView.Web_Disabled .WebTree_Body > table{
    filter: alpha(opacity=60);
    opacity: 0.6;
}


/* - - - - - - - - - WebImage - - - - - - - - - - */
.WebImage .WebImg_Wrp img{
    vertical-align: top;
}

.WebImage .WebImg_Box{
}


/* - - - - - - - - - WebHtmlBox - - - - - - - - - - */
.WebHtmlBox .WebHtml_Wrp{
    line-height: normal;
    padding: 1px;
}

.WebHtmlBox .WebHtml_Box{
}

.WebHtmlBox .WebHtml_Wrp a{
    text-decoration: underline;
    color: #0645AD;
    cursor: pointer;
}
.WebHtmlBox b{
    font-weight: bold;
}
.WebHtmlBox i{
    font-style: italic;
}
.WebHtmlBox u{
    text-decoration: underline;
}
.WebHtmlBox h1{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px 3px;   
}
.WebHtmlBox h2{
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0px 3px;   
}
.WebHtmlBox p{
    margin: 0px 0px 7px;
}


/* - - - - - - - - - WebSpacer - - - - - - - - - - */
.WebSpacer > div.WebCon_Inner{
    margin: 0px 0px 0px 0px; 
}

.WebSpacer .WebSpacer_Spacer{
    height: 30px;
}


/* - - - - - - - - - WebSpacer - - - - - - - - - - */
.WebHorizontalLine hr{

}


/* - - - - - - - - - WebTooltip - - - - - - - - - - */
.WebTooltip{
    position: absolute;
    margin-top: 20px;
    
}

.WebTooltip.WebTooltipVisible{
    
}

.df-ie8 .WebTooltip{
    visibility: hidden;
}

.df-ie8 .WebTooltip.WebTooltipVisible{
    visibility: visible;
}

.WebTooltip_Top{
    margin-top: 0px;
    margin-bottom: 20px;
}

.WebTooltip:before{
    content: "";
    display: block;
    width: 0;
    position: absolute;
    left: 14%;
    top: -22px;

}

.WebTooltip_Top:before{
    top: auto;
    bottom: -22px;
    
}


.WebTooltip:after{
    content: "";
    display: block;
    width: 0;
    top: -17px;
    position: absolute;
    left: 14%;
    margin-left: 4px;
    
}

.WebTooltip_Top:after{
    top: auto;
    bottom: -17px;
}


/* - - - - - - - - - WebIFrame - - - - - - - - - */
.WebIFrame iframe{
    width: 100%;
    border: 0px;
    margin: 0px;
    height: 100%;
}
.WebIFrame .WebCon_Inner{
    
}

.WebIFrame .WebIFrm_Box{
    padding: 0px;
}


/* - - - - - - - - - WebSlider - - - - - - - - - - */
.WebSlider .WebCon_Inner{
    
}
.WebSlider .WebSlider_Wrapper{
    overflow: hidden;
    position: relative;
}

 
/* Bar */
.WebSlider .WebSlider_Bar{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.WebSlider .WebSlider_InnerBar{
	height: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.WebSlider .WebSlider_Vertical .WebSlider_BarWrapper {
    height: 100%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.WebSlider .WebSlider_Vertical .WebSlider_Bar {
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.WebSlider .WebSlider_Horizontal .WebSlider_BarWrapper {
 
}
.WebSlider .WebSlider_Horizontal .WebSlider_Bar {
    height: 5px
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.WebSlider  .WebSlider_Horizontal .WebSlider_InnerBar{
	width: 100%;
}

.WebSlider.WebCon_Focus .WebSlider_Bar {
}

.WebSlider .WebSlider_Vertical .WebSlider_ShowRange{
    width: 100%;
    position: relative;
}

.WebSlider .WebSlider_Horizontal .WebSlider_ShowRange{
    height: 100%;
    position: relative;
}


/* Slider */
.WebSlider .WebSlider_SliderWrapper {
    position: absolute;
    overflow: hidden;
    top: 0px;
}
.WebSlider .WebSlider_Horizontal .WebSlider_SliderWrapper {
    width: 100%;
}
.WebSlider .WebSlider_Vertical .WebSlider_SliderWrapper {
    float: left;
    height: 100%;
}
.WebSlider.Web_Enabled .WebSlider_Slider , .WebSlider.Web_Enabled .WebSlider_SliderRanged {
    cursor: pointer;
}
.WebSlider .WebSlider_Slider , .WebSlider .WebSlider_SliderRanged {
	position: absolute;
}






/* Labels */
.WebSlider .WebSlider_Labels{
    position: relative;
    overflow: hidden;
}

.WebSlider .WebSlider_Horizontal .WebSlider_Labels{
    width: 100%;
}

.WebSlider .WebSlider_Vertical .WebSlider_Labels{
    height: 100%;
}

.WebSlider .WebSlider_Label {
    position: absolute;
    cursor: pointer;
    width: 200px;
}

.WebSlider .WebSlider_Horizontal .WebSlider_LabelMarker{
    height: 10px;
}

.WebSlider .WebSlider_Vertical .WebSlider_LabelMarker{
    width: 5px;
}

.WebSlider .WebSlider_LabelText{
    position: absolute;
}
.WebSlider.Web_Enabled .WebSlider_LabelText{
	cursor: pointer;
}

.WebSlider.Web_Enabled .WebSlider_LabelMarker{
	cursor: pointer;
}
.WebSlider .WebSlider_LabelMarker{
	position: absolute;
}

.WebSlider .WebSlider_Horizontal .WebSlider_LabelMarkerWrapper{
	height: 10px;
	width: 1px;
}


.WebSlider .WebSlider_Vertical .WebSlider_LabelMarkerWrapper,
.WebSlider .WebSlider_Vertical .WebSlider_LabelWrapper{
    float : left;
	width: 5px;
	height: 1px;
}
